name: CI - API Build

on:
  push:
    branches: [ "main" ]
    paths:
      - '**'
      - '!src/BitsAndBobs/clientapp/**'
      - '!.github/workflows/**'
      - '.github/workflows/api.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**'
      - '!src/BitsAndBobs/clientapp/**'
      - '!.github/workflows/**'
      - '.github/workflows/api.yml'

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore src/BitsAndBobs.slnx
    - name: Build
      run: dotnet build src/BitsAndBobs.slnx --no-restore --configuration Release
    - name: Test
      run: dotnet test src/BitsAndBobs.slnx --no-build --configuration Release --verbosity normal
